/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: auto;
    width: 1024px;
}

img {
    width: 100%;
}

.block-margin {
    margin: 2% 0;
}

/* HEADER */
.logo {
    /* height: 150px;
    background-color: #e579e6; */
}

.logo img {
    width: 200px;
}

/* Nav */
.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    margin-right: 2%;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
}

/* Banner */
.banner {
    height: 400px;
    background-color: #e1d67a;
}
/* FINE HEADER */


/* MAIN */
main {
    background-color: #0186ff;
    width: 100%;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.riga {
    height: 100px;
    background-color: #abcfe7;
}

.col {
    float: left;
}

.col-left, .col-right {
    width: 20%;
    height: 600px;
    background-color: #abcfe7;
}

.col-center {
    width: 58%;
    height: 600px;
    background-color: #abcfe7;
    margin: 0 1%;
}
/* FINE MAIN */


/* FOOTER */
footer {
    background-color: #8801fe;
    height: 100px;
}
/* FINE FOOTER */